/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$yellow: #F8C832;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
$charcoal: #222;
=======
=======
>>>>>>> Stashed changes
<<<<<<< HEAD
<<<<<<< HEAD
$charcoal: #222
=======
$charcoal: #222;
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
=======
$charcoal: #222;
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
